<h2>Inserir período para a pesquisa</h2>

<%=  form_with url: "/indicadores/12", method: :get do |f| %>
  <%= f.label :start_time, 'Inserir data de início' %>
  <%= f.date_select :start_time %>
  <%= f.label :end_time, 'Inserir data de final' %>
  <%= f.date_select :end_time %>
  <%= f.submit "Gerar relatório" %>
<% end %>
