<%# <% @samples.each do |sample |%>
  <%# <p><%= "#{sample.rg} #{sample.area_analitica} #{sample.data_recepcao}"%></p> %>
<%# <% end %>

<%# <% @carne.each do |sample| %>
  <%# <p><%= "#{sample.rg} #{sample.programa} #{sample.matriz}"</p> %>
<%# <% end %>

<h2>PACPOA - Carnes e produtos cárneos</h2>
<p><%= @pacpoa[0] %></p>
<hr>
<h2>PACPOA - Leite e produtos lácteos</h2>
<p><%= @pacpoa[1] %></p>
<hr>
<h2>PACPOA - Ovos e derivados</h2>
<p><%= @pacpoa[2] %></p>
<hr>
<h2>PACPOA - Pescados e produtos da pesca</h2>
<p><%= @pacpoa[3] %></p>
<hr>
<h2>PNCP - Listeria monocytogenes em produtos de origem animal</h2>
<p><%= @listeria %></p>
<hr>
<h2>PNCP - Salmonella spp. em carcaças de frangos e perus (IN 20/2016)</h2>
<p><%= @salmonela_frango %></p>
<hr>
<h2>PNCP - Escherichia coli e Salmonella spp. em carne bovina (IN 60/2018)</h2>
<p><%= @ecoli %></p>
<hr>
<h2>PNCP - Salmonella spp. em superfície de carcaça de suínos (IN 60/2018)</h2>
<p><%= @salmonela_suino %></p>
<hr>
<h2>Outros programas</h2>
<p><%= @mic_outros %></p>
<hr>
<h2>Bebidas não alcoólicas</h2>
<p><%= @bebidas_nao_alcoolicas %></p>
<hr>
