<div class="container">
  <div class="row justify-content-center m-3">
    <div class="col-12 col-sm-8">
        <%= simple_form_for :query, url: samples_path, method: "get" do |f| %>

          <div class="mb-3">
            <%= f.input :status, label: "Status",
              label: false,
              class: "form-control form-select",
              collection: @statuss,
              prompt: "Filtre por Status"
            %>
          </div>

          <div class="mb-3">
            <%= f.input :programa, label: "Programa",
              label: false,
              class: "form-control form-select",
              collection: @programas,
              prompt: "Filtre por Programa"
            %>
          </div>

          <div class="mb-3">
            <%= f.input :client_name, label: "Clientes",
              label: false,
              class: "form-control form-select",
              collection: @clients_name,
              prompt: "Filtre por Cliente"
            %>
          </div>

          <div class="mb-3">
            <%= f.input :client_city, label: "Cidades",
              label: false,
              class: "form-control form-select",
              collection: @clients_city,
              prompt: "Filtre por Cidade"
            %>
          </div>

          <div class="mb-3">
            <%= f.input :client_state,
              label: false,
              class: "form-control form-select",
              collection: @clients_state,
              prompt: "Filtre por Estado"
            %>
          </div>

          <div class="mb-3">
            <%= f.input :matriz,
              label: false,
              class: "form-control form-select",
              collection: @matrizes,
              prompt: "Filtre por Matriz"
            %>
          </div>

          <div class="mb-3">
            <%= f.input :area_analitica,
              label: false,
              class: "form-control form-select",
              collection: @areas_analiticas,
              prompt: "Filtre por Área Analítica"
            %>
          </div>

          <div class="mb-3">
            <%= f.input :rg,
              label: false,
              class: "form-control",
              placeholder: "Filtre por RG"
            %>
          </div>

          <div class="mb-3">
            <%= f.input :codigo_rejeicao,
              label: false,
              class: "form-control form-select",
              collection: @codigos_rejeicoes,
              prompt: "Filtre por Código de Rejeição"
            %>
          </div>

        <div class="mb-3">
          <%= f.label "Intervalo das datas de Recepção" %>
          <div class="form-inline">
            <%= f.input :start_time_recepcao, as: :string, label:false, placeholder: "Data de Início", required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_time_recepcao, as: :string, label: false, placeholder: "Data Final", required: false, input_html: {class: "datepicker"} %>
          </div>
        </div>

        <div class="mb-3">
          <%= f.label "Intervalo das datas de Liberação" %>
          <div class="form-inline">
            <%= f.input :start_time_liberacao, as: :string, label:false, placeholder: "Data de Início", required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_time_liberacao, as: :string, label: false, placeholder: "Data Final", required: false, input_html: {class: "datepicker"} %>
          </div>
        </div>

          <div class="form-actions">
            <%= f.button :submit, "Buscar", class: "br-button secondary mt-3 mt-sm-0 ml-sm-3" %>
          </div>

        <% end %>
    </div>
  </div>
</div>
