<div class="banner-sec bg-primary-darken-02 pt-2 pb-2">
  <h2>FORM 049 007 - Percentual de Amostras Processadas - Indicador 12</h2>
</div>

<%= render 'time' %>

<% if params[:twelve].present? %>

  <h4>Resultados para o período de <strong> <%= @start_time.strftime('%d/%b/%Y') %> </strong> a <strong> <%= @end_time.strftime('%d/%b/%Y') %>:</strong></h4>

<div class="d-flex justify-content-center pb-4">
  <a href="javascript:history.back()" class="br-button secondary mt-3 mt-sm-0 ml-sm-3">Voltar</a>
  <%= link_to "Exportar arquivo csv", twelve_path(twelve: params[:twelve].to_enum.to_h, format: "csv"), class:"br-button secondary mt-3 mt-sm-0 ml-sm-3" %>
</div>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
      <th>Área</th>
      <th>Programa</th>
      <th>Finalizadas</th>
      <th>Rejeitadas<br>(Motivo externo)</th>
      <th>Rejeitadas<br>(Motivo interno)</th>
      <th>Aguardando Análise</th>
      <th>Amostras recebidas</th>
    </tr>
    </thead>

    <% @tabela_mic.each do |item| %>
      <tr>
        <td>MIC</td>
        <td><%= item[1] %></td>
        <td><%= @mic[item[0]][:finalizada] %></td>
        <td><%= @mic[item[0]][:rejeitada_externo] %></td>
        <td><%= @mic[item[0]][:rejeitada_interno] %></td>
        <td><%= @mic[item[0]][:aguardando] %></td>
        <td><%= @mic[item[0]][:total] %></td>
      </tr>
    <% end %>

  </table>

<% end %>
