<h2>FORM 049 007 - Percentual de Amostras Processadas - Indicador 12</h2>

<%= render 'time' %>

<% if params['start_time(1i)'].present? %>

  <h3>Período de <%= @start_time.strftime('%d/%b/%Y') %> a <%= @end_time.strftime('%d/%b/%Y') %></h3>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
      <th>Área</th>
      <th>Programa</th>
      <th>Finalizadas</th>
      <th>Rejeitadas<br>(Motivo externo)</th>
      <th>Rejeitadas<br>(Motivo interno)</th>
      <th>Aguardando Análise</th>
      <th>Amostras recebidas</th>
    </tr>
    </thead>

    <% @tabela_mic.each do |item| %>
      <tr>
        <td>MIC</td>
        <td><%= item[1] %></td>
        <td><%= @mic[item[0]][:finalizada] %></td>
        <td><%= @mic[item[0]][:rejeitada_externo] %></td>
        <td><%= @mic[item[0]][:rejeitada_interno] %></td>
        <td><%= @mic[item[0]][:aguardando] %></td>
        <td><%= @mic[item[0]][:total] %></td>
      </tr>
    <% end %>

  </table>

<% end %>
