<!-- Links que aparecem no topo da pagina
<nav id="skip-links">

        <div class="skip-links"><a accesskey="1" href="#main-content">Ir para o Conteúdo<strong class="accesskey">1</strong></a><a accesskey="2" href="#navigation">Ir para para Navegação<strong class="accesskey">2</strong></a><a accesskey="3" href="#main-searchbox">Ir para para Busca<strong class="accesskey">3</strong></a>
        </div>
</nav>
-->

    <header class="br-header" id="header" data-sticky="data-sticky">
        <div class="container-fluid">
          <div class="header-top">
            <div class="header-logo">
                <%= link_to root_path do %>
                <%= image_tag("data-hand-logo.png") %></a><span class=" vertical mx-half mx-sm-1"></span>
                <% end %>
            </div>
            <div class="header-actions">
              <div class="header-links dropdown">
                <!--
                <button class="br-button circle small" type="button" data-toggle="dropdown" aria-label="Abrir Acesso Rápido"><i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                </button>
                -->
                <div class="br-list">
                  <div class="header">

                    <div class="title">Acesso Rápido</div>
                    </div>
                    <!-- Links de acesso rápido
                  <a class="br-item" href="https://www.gov.br/pt-br/orgaos-do-governo">Orgãos do Governo</a><a class="br-item" href="https://www.gov.br/acessoainformacao/pt-br">Acesso à Informação</a><a class="br-item" href="http://www4.planalto.gov.br/legislacao">Legislação</a><a class="br-item" href="https://www.gov.br/governodigital/pt-br/acessibilidade-digital">Acessibilidade</a>
                  -->
                </div>
              </div><span class="br-divider vertical mx-half mx-sm-1"></span>
              <div class="header-login">
                <% unless user_signed_in? %>
                  <div class="header-sign-in">
                    <%= link_to new_user_session_path, class: "br-button sign-in small" do %>
                      <i class="fas fa-user" aria-hidden="true"></i><span class="d-sm-inline">Entrar</span>
                    <% end %>
                  </div>
                <% else %>
                  <div class="header-avatar">
                    <div class="avatar dropdown"><span class="br-avatar" title="Fulana da Silva"><span class="image"><i class="fas fa-user" aria-hidden="true"></i></span></span>
                      <button class="br-button circle small" type="button" aria-label="Abrir Menu de usuário" data-toggle="dropdown"><i class="fas fa-angle-down" aria-hidden="true"></i>
                      </button>
                      <div class="br-notification" id="br-notification">
                        <div class="notification-header">
                          <div class="row">
                            <div class="col-10"><span class="text-bold">current_user.name</span><br/><small><%=  current_user.email %> </small></div>
                          </div>
                        </div>
                        <div class="notification-body">
                                <div class="br-list">
                                  <%= link_to "Action", "#", class: "br-item" %>
                                  <%= link_to "Another Action", "#", class: "br-item" %>
                                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "br-item"  %>
                                </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="header-bottom">
            <div class="header-menu">
              <div class="header-menu-trigger">
                <button class="br-button small circle" type="button" aria-label="Menu" data-toggle="menu" data-target="#main-navigation" id="navigation"><i class="fas fa-bars" aria-hidden="true"></i>
                </button>
              </div>
              <div class="header-info">
                <div class="header-title">Data at Hand - do Banco à Luz</div>
              </div>
            </div>
            <div class="header-search">
              <button class="br-button circle search-close ml-1" type="button" aria-label="Fechar Busca" data-dismiss="search"><i class="fas fa-times" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </header>

      <main class="d-flex flex-fill" id="main">
        <div class="container-fluid d-flex">
          <div class="row">
            <div class="br-menu" id="main-navigation">
              <div class="menu-container">
                <div class="menu-panel">
                  <div class="menu-header">
                    <div class="menu-title"><%= image_tag("data-hand-logo.png") %><span>Data at Hand</span></div>
                    <div class="menu-close">
                      <button class="br-button circle" type="button" aria-label="Fechar o menu" data-dismiss="menu"><i class="fas fa-times" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                  <nav class="menu-body">
                    <div class="menu-folder"><a class="menu-item" href="javascript: void(0)"><span class="icon"><i class="fas fa-bell" aria-hidden="true"></i></span><span class="content">Indicadores</span></a>
                      <ul>
                        <li><%= link_to indicator_path, class: "menu-item" do %><span class="icon"><i class="fas fa-heart" aria-hidden="true"></i></span><span class="content">Amostras Processadas</span><% end %></li>
                        <li><%= link_to indicator_path, class: "menu-item" do %><span class="icon"><i class="fas fa-heart" aria-hidden="true"></i></span><span class="content">Indicador 2</span><% end %></li>
                        <li><%= link_to indicator_path, class: "menu-item" do %><span class="icon"><i class="fas fa-heart" aria-hidden="true"></i></span><span class="content">Indicador 3</span><% end %></li>
                      </ul>
                    </div>
                    <%= link_to indicator_path, class: "menu-item" do %><span class="icon"><i class="fas fa-heart" aria-hidden="true"></i></span><span class="content">Busca Personalizada</span><% end %></li>
                    <!-- Campos para o menu descartados
                    <div class="menu-folder"><a class="menu-item" href="javascript: void(0)"><span class="icon"><i class="fas fa-bell" aria-hidden="true"></i></span><span class="content">Nível 1</span></a>
                      <ul>
                        <li><a class="menu-item" href="javascript: void(0)"><span class="icon"><i class="fas fa-heart" aria-hidden="true"></i></span><span class="content">Nível 2</span></a></li>
                        <li><a class="menu-item" href="javascript: void(0)"><span class="icon"><i class="fas fa-address-book" aria-hidden="true"></i></span><span class="content">Nível 2</span></a>
                          <ul>
                            <li><a class="menu-item" href="javascript: void(0)"><span class="icon"><i class="fas fa-book" aria-hidden="true"></i></span><span class="content">Nível 3</span></a></li>
                            <li><a class="menu-item" href="javascript: void(0)"><span class="icon"><i class="fas fa-tree" aria-hidden="true"></i></span><span class="content">Nível 3</span></a>
                              <ul>
                                <li><a class="menu-item" href="javascript: void(0)"><span class="content">Nível 4</span></a></li>
                                <li><a class="menu-item" href="javascript: void(0)"><span class="content">Nível 4</span></a></li>
                                <li><a class="menu-item" href="javascript: void(0)"><span class="content">Nível 4</span></a></li>
                              </ul>
                            </li>
                            <li><a class="menu-item" href="javascript: void(0)"><span class="icon"><i class="fas fa-moon" aria-hidden="true"></i></span><span class="content">Nível 3</span></a></li>
                          </ul>
                        </li>
                        <li><a class="menu-item" href="javascript: void(0)"><span class="icon"><i class="fas fa-archive" aria-hidden="true"></i></span><span class="content">Nível 2</span></a></li>
                      </ul>
                    </div>
                    -->

                  </nav>
                  <div class="menu-footer">
                    <div class="menu-links text-center"><a href="https://www.gov.br/pt-br" target="_blank" class="portal-logo"><%= image_tag("govbr-logo-large.png") %></a></div>

                    <div class="menu-info">
                      <div class="text-center text-down-01">Todo o conteúdo deste site é de acesso restrito a servidores do <strong>Ministério da Agricultura, Pecuária e Abastecimento</strong></div>
                    </div>
                  </div>
                </div>
                <div class="menu-scrim" data-dismiss="menu" tabindex="0"></div>
              </div>
            </div>
            <!--
            <div class="col pt-3 pb-5">
              <div class="br-breadcrumb">
                <ul class="crumb-list">
                  <li class="crumb home">
                    <div class="br-button circle"><span class="sr-only">Página inicial</span><i class="icon fas fa-home"></i></div>
                  </li>
                  <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior</a>
                  </li>
                  <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior2</a>
                  </li>
                  <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior3</a>
                  </li>
                  <li class="crumb"><i class="icon fas fa-chevron-right"></i><a href="javascript:void(0)">Tela Anterior4</a>
                  </li>
                  <li class="crumb" data-active="active"><i class="icon fas fa-chevron-right"></i><span>Tela Atual</span>
                  </li>
                </ul>
              </div>

              <div class="main-content pl-sm-3" id="main-content">

                <p class="h2">Template básico</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam consequuntur ratione suscipit voluptatem reprehenderit aut recusandae autem voluptas quo nulla tenetur, quos a dolores enim ad, cum, eius et odio!</p>
                <div class="row">
                  <div class="col-sm d-flex">
                    <div class="br-card">
                      <div class="card-header">Card de exemplo 1</div>
                      <div class="card-content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus dignissimos, recusandae at accusamus autem error hic adipisci eligendi eum debitis dolores magnam quod sint doloribus omnis vitae placeat. Natus, minus.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm d-flex">
                    <div class="br-card">
                      <div class="card-header">Card de exemplo 2</div>
                      <div class="card-content">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis culpa inventore mollitia vitae a nesciunt reiciendis incidunt, labore repudiandae voluptate nisi. Numquam illo est maiores doloribus recusandae rem inventore ea?</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm d-flex">
                    <div class="br-card">
                      <div class="card-header">Card de exemplo 3</div>
                      <div class="card-content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam cupiditate nihil facere autem dignissimos ex beatae labore? Fuga consequuntur consectetur voluptatum incidunt, tenetur, dolore magnam inventore hic iusto amet ipsa.</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


            </div>
            -->

          </div>

        </div>
      </main>
